#home {
  text-align: center;

  .input-group-addon {
    display: none;
  }

  .editable-input {
    text-align: center;
    border-bottom: 1px solid #9c27b0;
  }

  table {
    font-size: 14px;
  }
}