#time-tracker {
  .btn-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 73px;
  }

  .btn-sm {
    height: 35px;
    width: 35px;
    font-size: 12px;
    padding: 0;
  }
}