#time-tracker .btn-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 73px; }

#time-tracker .btn-sm {
  height: 35px;
  width: 35px;
  font-size: 12px;
  padding: 0; }

#time-tracker .input-time {
  width: 50px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9c27b0;
  text-align: center; }
